*.sw[op]
*~
*.zip
*.tgz
*.dump
.project
.classpath
.settings/
.DS_Store
docker/
log/
data/
dynamic/
images/
target/
backups/
tokens/
tmp/
/root/
/node_modules/
.svelte-kit/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
gha-creds-*
integration-tests/test-data/root/access.0.*
integration-tests/test-data/root/authentication.0.*

# Ignore IntelliJ config except for run configurations
/.idea/*
!/.idea/runConfigurations/
!/.idea/runConfigurations/**
