version: '3'
services:

  mongodb:
    container_name: manuals-mongo-6.0.1
    image: amd64/mongo:6.0.1
    volumes:
      - ./data/mongo:/data/db
    networks:
     - manuals

  server:
    container_name: manuals.server
    image: reg.planez.co/manuals:2.0.0
    ports:
      - "9300:9300"
    environment:
      - MONGODB=mongodb://mongodb
      - MODE=PROD
      - AUTH=ON
    volumes:
     - ./log:/log
     - ./root:/opt/app/root
     - ./dynamic:/opt/app/dynamic
    networks:
     - manuals

networks:
  manuals:

